**__pycache__
.idea
.vscode
**.json
**.patch
dbt/
.user.yml
profiles.yml
bazel-*
bin
Pipfile*
*.lock
.bazelrc
env/
*.log
set_environment_variables.sh
*.zip
*.zip.hashsum
*.zip.sha256sum
configs/
setenvs.sh
tmp
cloudbuild-workspace/
*~
dbt
*.db
