**__pycache__
.idea
.vscode
**.json
**.patch
dbt/log
dbt/logs
dbt/modules
dbt/target
dbt/models/rule_binding_views/*
.user.yml
profiles.yml
dbt/.user.yml
dbt/profiles.yml
bazel-*
bin
Pipfile*
*.lock
.bazelrc
env/
*.log
set_environment_variables.sh
*.zip
*.zip.hashsum
*.zip.sha256sum
configs/
setenvs.sh
tmp
cloudbuild-workspace/
*~
