black==21.5b0
click==7.1.2
coloredlogs==15.0.1
dbt-bigquery==0.20.2
filelock==3.3.2
flake8==3.9.2
flakehell==0.9.0
google-api-python-client==2.27.0
google-cloud-logging==2.7.0
google-cloud-storage==1.42.3
isort==5.7.0
jinja2==2.11.3
markupsafe==2.0.1
pyrate-limiter==2.6.0
pytest-xdist==2.4.0
pytest==6.2.2
pyupgrade==2.10.1
pyyaml==5.4.1
requests-oauth2==0.3.0
setuptools==60.6.0
sqlite-utils==3.18
