click==7.1.2
coloredlogs==15.0.1
jinja2==2.11.3
pyyaml==6.0.0
dbt-bigquery==1.0.0
pytest==6.2.2
black==21.5b0
pyupgrade==2.10.1
isort==5.7.0
flakehell==0.9.0
flake8==3.9.2
google-api-python-client==2.65.0
google-cloud-storage==2.5.0
google-cloud-logging==2.7.0
requests-oauth2==0.3.0
pytest-xdist==2.4.0
filelock==3.3.2
sqlite-utils==3.18
pyrate-limiter==2.6.0
setuptools==65.5.1
markupsafe==2.0.1
google-cloud==0.34.0
google-cloud-core==2.3.2
google-api-core==2.10.2
google-cloud-bigquery==2.34.4
mashumaro[msgpack]==2.9.0